<h1>Busqueda de Héroes</h1>
<mat-divider></mat-divider>
<br />

<div>
  <div fxLayout="column">
    <mat-form-field appearance="fill">
      <mat-label>Heroe</mat-label>
      <input
        type="text"
        placeholder="Selecciona un heroe"
        aria-label="Heroe"
        matInput
        [(ngModel)]="termino"
        (input)="buscando()"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete
        autoActiveFirstOption
        (optionSelected)="opcionSeleccionada($event)"
        #auto="matAutocomplete"
      >
        <mat-option *ngFor="let heroe of heroes" [value]="heroe">
          {{ heroe.superhero }}
        </mat-option>

        <mat-option *ngIf="heroes.length === 0 && termino !== ''" [value]="">
          No se encontró el Heroe '{{ termino }}'
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <div *ngIf="heroeSeleccionado" fxFlex>
      <app-heroes-card
        [heroe]="heroeSeleccionado"
        fxFlex.xs="65"
        fxFlex.sm="35"
        fxFlex="25"

      ></app-heroes-card>
    </div>
    <p *ngIf="heroeNoEncontrado; else hayHeroe">
      No hemos encontrado el Heroe buscado
    </p>
    <ng-template #hayHeroe>
      <pre>{{ heroeSeleccionado | json }}</pre>
    </ng-template>
  </div>
</div>
